@{
    ViewData["Title"] = "Dashboard";
}

<div class="card card-titulo .teste-b">
    <div class="card-body card-p">
        <i class="bi bi-bar-chart-line"></i> Dashboard
    </div>
</div>

<div class="row mt-5">

    <div class="col">

        <div class="card card-custom text-bg-light mb-3">
            <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title">14</h5>
                        <p class="card-text">BackLog</p>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><i class="bi bi-card-list card-icon "></i></p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col">

        <div class="card card-custom text-bg-light mb-3">
            <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title">16</h5>
                        <p class="card-text">To do</p>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><i class="bi bi-card-text card-icon "></i></p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col">

        <div class="card card-custom text-bg-light mb-3">
            <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title">17</h5>
                        <p class="card-text">In Progress</p>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><i class="bi bi-card-heading card-icon"></i></></p>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="col">

        <div class="card card-custom text-bg-light mb-3">
            <div class="row g-0">

                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title">04</h5>
                        <p class="card-text">Done</p>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card-body">
                        <p class="card-text"><i class="bi bi-card-checklist card-icon "></i></p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row mt-5">
    <div class="container" style="text-align: center">
    <img class="img-fluid" src="~/images/undraw_dashboard_re_3b76.svg" />
    </div>
</div>



