@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo (a)</h1>
    <p>Crie tarefas e controle sua rotina com poucos cliques ...</p>
</div>

<div class="row mt-5">
    <div class="container" style="text-align: center">
        <img class="img-fluid" src="~/images/undraw_scrum_board_re_wk7v.svg" />
    </div>
</div>
